* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    margin: 0 auto;
    max-width: 650px;
    width: 100%;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
    text-align: center;
}

form {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    align-content: center;
}

fieldset {
    display: grid;
    gap: 0.3rem;
    margin: 1rem 0;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label,
input,
button,
select,
textarea {
    font-family: Roboto, Arial, sans-serif;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    max-width: 400px;
    width: 100%;
}

code {
    background-color: black;
    color: white;
    max-width: 300px;
    width: 100%;
    padding: .5rem;
    margin: .5rem 0;
    display: block;
}

button {
    margin-top: .9rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: .85em;
    font-size: 1.2rem;
    max-width: 400px;
    width: 100%;
    display: block;
}

button:hover {
    background-color: #006400; /* lighter dark green for better contrast */
}